<%= form_with(model: quote_config, local: true) do |form| %>
  <% if quote_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote_config.errors.count, "error") %> prohibited this quote_config from being saved:</h2>

      <ul>
      <% quote_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :min_markup %>
    <%= form.text_field :min_markup %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
