
<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation" xmlns:onchange="http://www.w3.org/1999/xhtml" xmlns:onchange="http://www.w3.org/1999/xhtml"
         xmlns:onchange="http://www.w3.org/1999/xhtml" xmlns:onchange="http://www.w3.org/1999/xhtml"
         xmlns:onchange="http://www.w3.org/1999/xhtml">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <strong>Customer:</strong>
    <%= form.collection_select :customer_id, Customer.all,:id,:customer_lname %>
  </div>

  <div class="field">
    <strong>Manufacturer:</strong>
    <%= form.collection_select :manufacturer_id, Manufacturer.all,:id,:manufacturer_name %>
  </div>

  <div class="field">
    <strong>Series:</strong>
    <%= form.collection_select :series_id, Series.all, :id, :series_number %>
  </div>

  <div class="field">
    <strong>Model:</strong>
    <%= form.collection_select :model_id, Model.all,:id,:model_number, onchange: 'psycho()', id: 'mod' %>
  </div>
<%-# the specific equipment will have its foreign key column 'quote_id' filled after a quote with its related model number has been finalized -%>
  <div class="field">
    <strong>(Optional) Attachment:</strong>
    <%= form.collection_select :attachment_id, Attachment.all,:id, :attachment_feature, onchange: 'psycho()', id: 'att' %>
  </div>

  <div class="field">
    <strong>(Optional) Implement:</strong>
    <%= form.collection_select :implement_id, Implement.all,:id, :implement_feature, onchange: 'psycho()', id: 'imp' %>
  </div>

  <div class="field">
    <strong>(Optional) Front Replacement Tires:</strong>
    <%= form.collection_select :tire_replacement_front_id, TireReplacementFront.all,:id, :order_number, onchange: 'psycho()', id: 'tiref' %>
  </div>

  <div class="field", onchange="psycho()">
    <strong>(Optional) Rear Replacement Tires:</strong>
    <%= form.collection_select :tire_replacement_rear_id, TireReplacementRear.all,:id, :order_number, id: 'tirer' %>
  </div>


  <div class="field", onmouseover="psycho()">
    <strong>Base Quote Price:</strong>
    <%= form.text_field :base_quote_price, :value => 0.00  %>
  </div>

  <div class="field">
    <strong>Total Price:</strong>
    <%= form.text_field :total_price, :readonly => true %>
  </div>
  <% #:value => (:form.var => )%>

  <div class="field">
    <strong>Quote Date:</strong>
    <%= form.datetime_select :quote_date %>
  </div>

  <div class="field">
    <strong>Markup Percentage:</strong>
    <%= form.text_field :markup_percentage %>
  </div>
<p id="bb"></p>

  <script>
      function psycho() {
          console.log("Called");
          var nummie = document.forms[0]['quote_model_id'].value;
          nummie += document.forms[0]['quote_attachment_id'].value;
          nummie += document.forms[0]['quote_implement_id'].value;
          nummie += document.forms[0]['quote_tire_replacement_front_id'].value;
          nummie += document.forms[0]['quote_tire_replacement_rear_id'].value;
          document.forms[0]['quote_base_quote_price'].value = nummie;
          //document.getElementById('bb').innerHTML = document.forms[0]['quote_model_id'].value
          //    + document.forms[0]['quote_attachment_id'].value +
          //    document.forms[0]['quote_implement_id'].value +
          //    document.forms[0]['quote_tire_replacement_front_id'].value
          //    + document.forms[0]['quote_tire_replacement_rear_id'].selectedIndex.valueOf();

          //price.options[price.selectedIndex].setAttribute("basePrice", (m.toString()));
          //+ a + i + tf + tr
      }
  </script>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
