<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Customer:</strong>
    <%= form.collection_select :customer_id, Customer.order(:customer_lname), :id, :customer_lname, include_blank: true  %>
  </div>

  <div class="field">
    <strong>Manufacturer:</strong>
    <%= form.collection_select :manufacturer_id, Manufacturer.order(:manufacturer_name),:id,:manufacturer_name, include_blank: true  %>
  </div>

  <div class="field">
    <strong>Series:</strong>
    <%= form.grouped_collection_select :series_id, Manufacturer.order(:manufacturer_name), :series, :manufacturer_name, :id, :series_number, include_blank: true %>
  </div>

  <div class="field">
    <strong>Model:</strong>
    <%= form.collection_select :model_id, Model.order(:model_number),:id,:model_number, include_blank: true  %>
  </div>
<%-# the specific equipment will have its foreign key column 'quote_id' filled after a quote with its related model number has been finalized -%>
  <div class="field">
    <strong>(Optional) Attachment:</strong>
    <%= form.collection_select :attachment_id, Attachment.order(:attachment_feature),:id, :attachment_feature, include_blank: true  %>
  </div>

  <div class="field">
    <strong>(Optional) Implement:</strong>
    <%= form.collection_select :implement_id, Implement.order(:implement_feature),:id, :implement_feature, include_blank: true  %>
  </div>

  <div class="field">
    <strong>(Optional) Front Replacement Tires:</strong>
    <%= form.collection_select :tire_replacement_front_id, TireReplacementFront.order(:order_number),:id, :order_number, include_blank: true  %>
  </div>

  <div class="field">
    <strong>(Optional) Rear Replacement Tires:</strong>
    <%= form.collection_select :tire_replacement_rear_id, TireReplacementRear.order(:order_number),:id, :order_number, include_blank: true  %>
  </div>


  <div class="field">
    <strong>Base Quote Price:</strong>
    <%= form.text_field :base_quote_price, :readonly => true,  %>
  </div>

  <div class="field">
    <strong>Total Price:</strong>
    <%= form.text_field :total_price, :readonly => true %>
  </div>
  <% #:value => (:form.var => )%>
  <div class="field">
    <strong>Quote Date:</strong>
    <%= form.datetime_select :quote_date %>
  </div>

  <div class="field">
    <strong>Markup Percentage:</strong>
    <%= form.text_field :markup_percentage %>
  </div>

  <div class="field">
    <strong>Finalize Date:</strong>
    <%= form.datetime_select :finalize_date %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
