<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<%= link_to 'New Quote', new_quote_path %>

<table>
  <thead>
    <tr>
      <th>Customer First Name</th>
      <th>Customer Last Name </th>
      <th>Sale Finalized</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer.customer_fname %></td>
        <td><%= quote.customer.customer_lname %></td>
        <td><%= quote.sale_finalized? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Show', quote %>
            <%= link_to 'Edit', edit_quote_path(quote) %>
            <%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
