<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer_id %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @quote.manufacturer_id %>
</p>

<p>
  <strong>Series:</strong>
  <%= @quote.series_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @quote.model_id %>
</p>

<p>
  <strong>Quoted Attachment:</strong>
  <%= @quote.attachment_id %>
</p>

<p>
  <strong>Quoted Implement:</strong>
  <%= @quote.implement_id %>
</p>
<p>
  <strong>Quoted Front Tire replacements:</strong>
  <%= @quote.tire_replacement_front_id %>
</p>

<p>
  <strong>Quoted Rear Tire replacement:</strong>
  <%= @quote.tire_replacement_rear_id %>
</p>

<p>
  <strong>Base Quote Price:</strong>
  <%= @quote.base_quote_price %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @quote.total_price %>
</p>

<p>
  <strong>Quote Date:</strong>
  <%= @quote.quote_date %>
</p>

<p>
  <strong>Markup Percentage:</strong>
  <%= @quote.markup_percentage %>
</p>

<p>
  <strong>Discount Given:</strong>
  <%= @quote.discount_id %>
</p>

<p>
  <strong>Finalize Date:</strong>
  <%= @quote.finalize_date %>
</p>

<p>
  <strong>Is the Sale Finalized?:</strong>
  <%= @quote.sale_finalized? ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
