<p id="notice"><%= notice %></p>

<h3>
  <italics>Customer:</italics>
  <%= @quote.customer.customer_lname %>
</h3>

<table id="quotes1">
  <thead>
  <tr>
    <th>Manufacturer</th>
    <th>Series</th>
    <th>Model</th>
    <th>Attachment</th>
    <th>Implement</th>
    <th>Front Tire Replacements</th>
    <th>Rear Tire Replacements</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @quote.manufacturer.manufacturer_name %></td>
    <td><%= @quote.series.series_number %></td>
    <td><%= @quote.model.model_number %></td>
    <td><%= @quote.attachment.attachment_feature %></td>
    <td><%= @quote.implement.implement_feature %></td>
    <td><%= @quote.tire_replacement_front.front_tires %></td>
    <td><%= @quote.tire_replacement_rear.rear_tires %></td>
  </tr>
  </tbody>
</table>

<br>

<table id="quotes1">
  <thead>
  <tr>
    <th>Base Quote Price</th>
    <th>Total Price</th>
    <th>Quote Date</th>
    <th>Markup Percentage</th>
    <th>Date Finalized</th>
    <th>Is Quote Finalized?</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @quote.base_quote_price %></td>
    <td><%= @quote.total_price %></td>
    <td><%= @quote.quote_date %></td>
    <td><%= @quote.markup_percentage %></td>
    <td><%= @quote.finalize_date %></td>
    <td><%= @quote.sale_finalized? ? 'Yes' : 'No' %></td>
  </tr>
  </tbody>
</table>


<%= link_to "Quote Report", quote_path(@quote, format: "pdf") %>
<br>
<br>
<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>

