<p id="notice"><%= notice %></p>

<p>
  <strong>Employee fname:</strong>
  <%= @employee.employee_fname %>
</p>

<p>
  <strong>Employee lname:</strong>
  <%= @employee.employee_lname %>
</p>

<p>
  <strong>Employee phone:</strong>
  <%= @employee.employee_phone %>
</p>

<p>
  <strong>Store location:</strong>
  <%= @employee.store_location %>
</p>

<p>
  <strong>Is manager:</strong>
  <%= @employee.is_manager %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
