<p id="notice"><%= notice %></p>


<h1>Customers</h1>

<h3><%= link_to 'New Customer', new_customer_path %></h3>
<table id="customers">
  <thead>
    <tr>
      <th>Employee Last Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.employee.employee_lname %></td>
        <td><%= customer.customer_fname %></td>
        <td><%= customer.customer_lname %></td>
        <td><%= customer.customer_phone %></td>
        <td><%= link_to 'Show', customer %>
            <%= link_to 'Edit', edit_customer_path(customer) %>
            <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<h3><%= link_to 'New Customer', new_customer_path %></h3>

<%= will_paginate @customers, renderer: BootstrapPagination::Rails, previous_label: "Previuos", next_label: "Next", inner_window: 1, outer_window: 0; %>
