<p id="notice"><%= notice %></p>


<h1>Customers</h1>

<table id="customers">
  <thead>
    <tr>
      <th>Employee Last Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.employee %></td>
        <td><%= customer.customer_fname %></td>
        <td><%= customer.customer_lname %></td>
        <td><%= customer.customer_phone %></td>
        <td><%= customer.customer_address %></td>
        <td><%= customer.customer_city %></td>
        <td><%= customer.customer_state %></td>
        <td><%= customer.customer_zip %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
         <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
