<p id="notice"><%= notice %></p>


<p>
  <strong>Employee Last Name:</strong>
  <%= @customer.employee %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @customer.customer_fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.customer_lname %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @customer.customer_phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.customer_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.customer_city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.customer_state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @customer.customer_zip %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
