<p id="notice"><%= notice %></p>

<h1>Equipment Attachments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_attachments.each do |equipment_attachment| %>
      <tr>
        <td><%= link_to 'Show', equipment_attachment %></td>
        <td><%= link_to 'Edit', edit_equipment_attachment_path(equipment_attachment) %></td>
        <td><%= link_to 'Destroy', equipment_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Attachment', new_equipment_attachment_path %>
