<p id="notice"><%= notice %></p>

<p>
  <strong>Discount percentage:</strong>
  <%= @discount.discount_percentage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discount.description %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
