<div id="header">
 <h4> Menu </h4>
 <%= link_to 'Home Page', root_path %>
  <%= link_to 'Customer Information Form', customers_path %>
  <%= link_to 'Quoting Form', quotes_path %>
  <%= link_to 'Finalize Quote Sales', finalize_path %>
  <%= link_to 'Margin Markup Management', markup_path %>
</div>


<!DOCTYPE html>
<html>
  <head>
    <title>CBApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
