<div>
  <h1>Rapid Tractor Quoting Application</h1>
  <ul id ="menu1">
    <li id = "menuitem"><%= link_to '1. Home Page', root_path %></li>
    <li id = "menuitem"><%= link_to '2. Customers', customers_path %></li>
    <li id = "menuitem"><%= link_to '3. Quotes', quotes_path %></li>
  </ul>
</div>


<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' , 'data-turbolinks' => true%>
    <%= javascript_include_tag 'application'  , 'data-turbolinks' => true%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
