<div>
  <h1>Rapid Tractor Quoting Application</h1>
  <ul id ="menu1">
    <li><%= link_to 'Home Page', root_path %></li>
    <li><%= link_to 'Customer Information Form', customers_path %></li>
    <li><%= link_to 'Quoting Form', quotes_path %></li>
    <li><%= link_to 'Quote Reports', report_path %></li>
  </ul>
</div>


<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks' => true%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
